*{
    box-sizing: border-box;
    border: 1px solid red;
}
header{
    position: relative;
}
.navlist{
    position: absolute;
    top: 0px;
    right: 0px;    
}
.contact{
    margin: 0;
    padding: 0;
}