*{
    box-sizing: border-box;
    border: 1px solid red;
}
header{
    position: relative;
}
h1{
    width: 200px;
    text-align: center;
    padding: 15px;
    margin-left: 90px
}
.navlist{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 30px;
    list-style: none;    
}
.contact{
    float: left;
    padding-right: 20px;
}
.portfolio{
    float: left;
    padding-right: 20px;
}
.about{
    float: left;
    padding-right: 20px;
}